<form class="example-form">
    <div class="content">
        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Reservation ID</mat-label>
                <input matInput placeholder="Ex. JKLM34">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Passenger ID</mat-label>
                <input matInput placeholder="Ex. HANGAN3456@">
            </mat-form-field>
        </div>
        
    </div>
    <div class="action">
        <button mat-raised-button color="primary" type="submit" > Query Reservation</button>
    </div>

</form>


