.example-form {
  min-width: 150px;
  max-width: 90%;
  width: 100%;
//   text-align: center;
  padding-left: 40px;

}

.example-full-width {
  width: 100%;
//   padding:10px;
    padding-right:15px;
    padding-left:15px;
    padding-top:10px;
}

td {
  padding-right: 8px;
}


center {
  text-align: center;
}

.content {
    padding-top: 10px;
}

.h1{
    align-content: center;
}
.row {
    display: flex;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }
}

.action {
    padding: 0px 25px 20px;

    button {
        flex: 0.5;
        
    }
}

.btn{
    border-radius: 40px;
}